<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>EJS File</title>
  </head>
  <body>
    <!-- form -->
    <form method="post" action="/">
      <div class="m-60 w-sm h-sm">
        <label class="input input-bordered flex items-center gap-2">
          <input type="text" name="name" class="grow" placeholder="Name" />
        </label>
        <br />
        <label class="input input-bordered flex items-center gap-2">
          <input type="text" name="email" class="grow" placeholder="Email" />
        </label>
        <br />
        <button class="btn btn-active btn-primary">Primary</button>
      </div>
    </form>
    <!--  -->

    <!-- script -->
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
